* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comfortaa", sans-serif;
    height: 100vh;
    display: flex;
}

.col {
    flex: 1;
    background: #ffb8b8;
    width: auto;
    height: 3000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.backgroundtab {
    width: 1000px;
    height: 3000px;
    
    
    background-color: #ffffff;
}

.backgroundtab H1 {
    color: rgb(192, 192, 192);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    


}
.backgroundtab h3 {
    color: rgb(192, 192, 192);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}

#board {
    width: 689px;
    height: 689px;
    border: 2px solid rgb(192, 192, 192);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 137px;
    height: 137px;
    border: 0.5px solid rgb(192, 192, 192);
}

#pieces {
    width: 1000px;
    height: 600px;
    border: 2px solid rgb(255, 255, 255);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#pieces img {
    width: 137px;
    height: 137px;
    border: 0.5px solid rgb(255, 255, 255);
}



